@font-face {
    font-family: 'Hey Comic';
    src: url('./assets/Hey Comic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-size: 12px;
    font-family:'Hey Comic';
    overflow: hidden;
}


.dialog{
    background-color: #E2A688 ;
    text-align: left;
    border-radius: 10px;
    width: 572px;
    height:480px;
    position: absolute;
    z-index: -1
}

.inner-dialog{
    border-style: dashed;
    position:relative;
    text-align: left;
    border-radius: 10px;
    left:15px;
    top: 15px;
    width: 536px;
    height:437px;
    border-color: #EDE4D6;
}

.video-frame{
    position:relative;
    text-align: left;
    border-radius: 10px;
    left:15px;
    top: 15px;
    width: 506px;
    height:307px;
    overflow: hidden;
    background-color:#EDE4D6;
    border-color: #DD7D36;
}

.video-frame video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.invisible {
    visibility: hidden;
}

p { margin:0 }

.text-area p {
    color: #ffffff;
    font-size: 18px;
}

#streamer-name{
    font-size: 24px;
}

.text-area img {
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.text-area{
    position: relative;
    top: 30px;
    left: 15px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
  

.fadeInRight {
    -webkit-animation: fadeInRight 0.5s both; /* Safari 4+ */
    -moz-animation: fadeInRight 0.5s both; /* Fx 5+ */
    -o-animation: fadeInRight 0.5s both; /* Opera 12+ */
    animation: fadeInRight 0.5s both; /* IE 10+, Fx 29+ */
} 

.fadeOutRight {
    -webkit-animation: fadeOutRight 0.5s both; /* Safari 4+ */
    -moz-animation: fadeOutRight 0.5s both; /* Fx 5+ */
    -o-animation: fadeOutRight 0.5s both; /* Opera 12+ */
    animation: fadeOutRight 0.5s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
}

@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
}

@-o-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -o-transform: translateY(50px);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}